<include file="./App/Admin/View/default/header_common.html" />


<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">

        <li class="active"><a href="{:U('Admin/Index/home')}">主页 <span class="sr-only">(current)</span></a></li>
        <li><a href="{:U('Admin/Index/users')}">旅客信息 </a></li>
        <li><a href="{:U('Admin/Index/income')}">收入</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">航班 <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{:U('Admin/Air/flightlines')}">航线 </a></li>
                <li><a href="{:U('Admin/Air/flights')}">班机 </a></li>
                <li><a href="{:U('Admin/Air/airlines')}">航空公司 </a></li>

            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">管理员 <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{:U('Admin/Index/logout')}">退出</a></li>
            </ul>
        </li>
    </ul>
</div>
<!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->
</nav>

<div class="home-body">
    <div class="table-box">
        <table class="table-menu">

        </table>
    </div>


</div>

</body>

<script src="__PUBLIC__/js/jquery.min.js" charset="utf-8"></script>
<script src="__PUBLIC__/js/plugins/bootstrap/js/bootstrap.js" charset="utf-8"></script>

</html>